a:visited{
	color: #505050;
}
#autorization{
	width:80%; 
	display: inline-block;
}
#enter-div{
	height: 12%;
	background-color: royalblue;
	margin-left:1%;
	width: 18%;
	display: inline-block;
	color: #fff;
	text-align: center;
}
#enter-div,.ts,.none:hover{
	cursor: pointer;
}
#masta,#mastamasta,.masta{
	border-width: 0;
	border-bottom-width: 2px;
	border-color: #555;
	border-style: solid;
	background-color: #fff;
	height: 36px;
	width: 100%;
	display: inline-block;
	/*box-sizing: border-box;*/
	padding: 6px;
	cursor: text;
	text-align: start;

}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus::-ms-input-placeholder { color:transparent; } /* IE 10+ */
input:focus{
	outline: none;
	border-color: royalblue;
}
#masta,.masta:focus{
	outline: none;
	border-color: royalblue;
}


*{
	margin:0;
	padding:0;
	box-sizing:inherit;
}
a{
	text-decoration:none;
}
body{
	min-width: 1000px;/*TODO*/
	font-family: "Britannic Bold",arial,sans-serif;
	box-sizing:border-box;
	font-size: 16pt;
}
#wrapper{
	width:50%;
	margin:0 auto;
	background-color:#FFF;
}
#top{
	user-select:none;
	width:100%;
	height:80px;
	background-color:royalblue;
	text-align:left;
	padding-left:12%;
	padding-top:20px;
	font-size:20pt;
	color:#fff;
}
#block-1:first-child{
	border-bottom: 2px solid royalblue;
	width:100%;
	height:100px;
	background-color: #FFF;
	color:#505050;
	font-size:18pt;
	line-height: 100px;
}
#block-1:not(:first-child){
	border-bottom: 2px solid royalblue;
	width:100%;
	height:100px;
	background-color: #FFF;
	color:#505050;
	font-size:18pt;
	line-height: 100px;
}
#block-top{
	width:100%;
	height:40px;
	background-color: #FFF;
	color:#505050;
	font-size:12pt;
	padding-top:20px;
	text-decoration: none;
}
#block{
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
	width: 100%;
	height:60px;
	background-color: #505050;
	margin-top:10px;
	font-size: 18pt;
	color:#fff;
}
#block-1:hover{
	background-color: #CCC;
}
#left-in{
	width: 35%;
	height:60px;
	padding-top:15px;
	padding-left:15px;
}
#right-in{
	width: 65%;
	height:60px;
}
input[type=text]{
	font-size: 14pt;
	height: 30px;
   	margin-top:15px;
   	border:0;
   	padding: 3px;
}
#lstblck{
	display: flex;
	width: 100%;
	justify-content: flex-end;
}
button{
	cursor: pointer;
	display: flex;
	justify-content: center;
	font-size: 14pt;
	min-width:180px;
	color:#fff;
	width: 35%;
	height:40px;
	margin-top: 20px;
	border: 0;
	outline: 0;
	background-color: royalblue;
}

