a:visited{
	color: #505050;
}

/* HEADER */
#block-top{
	width:100%;
	height:40px;
	background-color: #FFF;
	color:#505050;
	font-size:12pt;
	padding-top:20px;
	text-decoration: none;
}

/* CONTENT */


#masta,.masta{
	border-width: 0;
	border-bottom: 2px #505050 solid;
	background-color: #fff;
	height: 36px;
	width: 100%;
	display: inline-block;
	/*box-sizing: border-box;*/
	padding: 6px;
	cursor: text;
	text-align: start;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus::-ms-input-placeholder { color:transparent; } /* IE 10+ */

/*#masta,.masta:focus{
	outline: none;
	border-color: royalblue;
}*/


*{
	margin:0;
	padding:0;
	box-sizing:inherit;
}
a{
	text-decoration:none;
}
body{
	font-family: "Britannic Bold",arial,sans-serif;
	box-sizing:border-box;
	font-size: 16pt;
}
#wrapper{
	width:50%;
	margin:0 auto;
	background-color:#FFF;
}
#top{
	user-select:none;
	width:100%;
	height:80px;
	background-color:royalblue;
	text-align:left;
	padding-left:12%;
	padding-top:20px;
	font-size:20pt;
	color:#fff;
}
#block-1, #block-2{
	border-bottom: 2px solid royalblue;
	width:100%;
	height:100px;
	background-color: #FFF;
	color:#505050;
	font-size:18pt;
	padding-top: 30px;
}

#block{
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
	width: 100%;
	height:60px;
	background-color: #505050;
	margin-top:10px;
	font-size: 18pt;
	color:#fff;
}
#left-in{
	width: 35%;
	height:60px;
	padding-top:15px;
	padding-left:15px;
}
#right-in{
	width: 65%;
	height:60px;
}
/*input[type=text]{
	font-size: 14pt;
	height: 30px;
   	margin-top:15px;
   	border:0;
   	padding: 3px #505050 solid;
}*/
#lstblck{
	display: flex;
	width: 100%;
	justify-content: flex-end;
}
button{
	cursor: pointer;
	display: flex;
	justify-content: center;
	font-size: 14pt;
	min-width:180px;
	color:#fff;
	width: 35%;
	height:40px;
	margin-top: 20px;
	border: 0;
	outline: 0;
	background-color: royalblue;
}

@media screen and (max-width: 900px){
	#top{
		margin:0;
		padding: 0;
		padding-top: 20px;
		text-align: center;
	}
	#wrapper{
		width: 80%;
	}
}



/* AUTORIZATION */
#wrap-auto{
	display: flex;
	justify-content: center;
}
#autorization{
	width:70%; 
	display: flex;
	
}
#enter-button-div{
	display: flex;
	margin: auto auto;
}
#enter-div{
	margin-top:15px;
	margin-left: 5px;
	display: flex;
	width:100px;
	height: 50px;
	background-color: royalblue;
	color: #fff;
	padding-top:20px;
	padding-left: 10px;
}

/* HOVER */

#enter-div:hover,.ts:hover,.none:hover{
	cursor: pointer;
}
#block-1:hover,#block-2:hover,.ts:hover,.none:hover{
	background-color: #CCC;

}

/* FOCUS */
input:focus{
	outline: none;
	border-color: royalblue;
}